@{
    this.ViewBag.Title = "Chat";
}

<h1>@this.ViewBag.Title</h1>

<div class="container">
    <div id="message-holder" class="mt-3 d-flex justify-content-start">
        <h4>Message</h4>
        <input class="w-75 ml-4 pl-3" type="text" id="messageInput" placeholder="Message..." />
        <button id="sendButton" class="ml-4 btn btn-dark btn-lg">Send</button>
    </div>
    <hr style="height: 5px;" class="bg-dark" />
    <div id="messagesList" style="font-size: 28px;">
    </div>
</div>

@section Scripts {
    <script>
        var connection =
            new signalR.HubConnectionBuilder()
                .withUrl("/chat")
                .build();

        connection.on("NewMessage",
            function (message) {
                var chatInfo = `<div>[${message.user}] ${escapeHtml(message.text)}</div>`;
                $("#messagesList").append(chatInfo);
            });

        $("#sendButton").click(function() {
            var message = $("#messageInput").val();
            connection.invoke("Send", message);
            $("#messageInput").val("");
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

        function escapeHtml(unsafe) {
            return unsafe
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
        }
    </script>
}