@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SignalR Chat</h1>
    <p>Go to the <a asp-controller="Home" asp-action="Chat">chat page</a>.</p>
</div>
